ActionBar {
    background-color:  #3C5AFD;
    color: white;
}

Button {
    font-size: 13;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: green;
}